
/* NAVBAR */
.textoNav{
    font-size: 26px!important;
    margin-left: 5vh;
    color: rgb(163, 163, 163)!important;
}
nav{
    background-color: rgb(28, 28, 33);
}

/* Formulario */
.btnCadastro:hover{
    padding: 10px;
}

