@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap');
@import url(./reset.css);
@import url(./header.css);
@import url(./usuarios.css);
@import url(./porque.css);
@import url(./faq.css);
@import url(./footer.css);

:root {
    --font-color: #28CB8B;
    --bold-color: #263238;
    --border-color: #4CAF4F;
    --fourth-color: #103E13;
    --fifth-color: #1B5E1F;
    --sixth-color: #237D31;
    --white: #FFFFFF;
}

.nav_logo {
    width: 25%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--border-color);
}

strong {
    font-weight: 700;
    color: var(--bold-color);
}

html {
    max-width: 1920px;
    width: 100%;
}

@media (max-width: 820px) {
    html {
        max-width: 820px;
    }
}

@media (max-width: 1024px) {
    html {
        max-width: 1024px;
    }
}
    
@media (max-width: 480px) {
    html {
        max-width: 480px;
    }
  }